<div class="container">
    <h2 class="mt-5"> Student Registration Form</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

        <div class="col-6">
            <div class="form-group">
                <label>First Name</label>
                <input formControlName="firstName" type="text" class="form-control" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['firstName'].errors">
                    <div *ngIf="f['firstName'].errors['required']">Please Enter First Name</div>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" placeholder="Enter Last Name">

            </div>
            <div class="invalid-feedback">
                <p>Please Enter Last Name</p>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>DOB</label>
                <input formControlName="dob" type="date" class="form-control " placeholder="Enter DOB" [ngClass]="{ 'is-invalid':submitted && f['dob'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['dob'].errors">
                    <div *ngIf="f['dob'].errors['required']">Please Enter DOB</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Contact No</label>
                <input formControlName="contactNo" type="text" class="form-control " placeholder="Enter Contact No" [ngClass]="{ 'is-invalid':submitted && f['contactNo'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['contactNo'].errors">
                    <div *ngIf="f['contactNo'].errors['required']">Please Enter Contact No</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Address</label>
                <textarea formControlName="address" type="text" rows="3" class="form-control " placeholder="Enter Address" [ngClass]="{ 'is-invalid':submitted && f['address'].errors}"></textarea>
                <div class="invalid-feedback" *ngIf="submitted && f['address'].errors">
                    <div *ngIf="f['address'].errors['required']">Please Enter Address</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Email</label>
                <input formControlName="email" type="text" class="form-control " placeholder="Enter Email" [ngClass]="{ 'is-invalid':submitted && f['email'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                    <div *ngIf="f['email'].errors['required']">Please Enter Email</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="text" class="form-control " placeholder="Enter Password" name="firstName" [ngClass]="{ 'is-invalid':submitted && f['password'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
                    <div *ngIf="f['password'].errors['required']">Please Enter Password</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Conform Password</label>
                <input formControlName="conformPassword" type="text" class="form-control " placeholder="Conform Password" name="firstName" [ngClass]="{ 'is-invalid':submitted && f['conformPassword'].errors}">
                <div class="invalid-feedback" *ngIf="submitted && f['conformPassword'].errors">
                    <div *ngIf="f['conformPassword'].errors['required']">Please Conform Password</div>
                </div>
            </div>
        </div>

        <div class="container">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>