<div class="row">
  <div class="col-12">
    <div class="row">
      <h2 class="m-5 text-dark"><u>Featured List</u></h2>
    </div>

    <div *ngFor="let featureProduct of featureProducts">
      <div class="col">
        <div class="card mb-5 ml-2" style="width: 18rem">
          <img
            [src]="featureProduct.imagePath"
            class="rounded-circle p-3"
            alt="image"
          />
          <div class="card-body">
            <h4 class="card-title">{{ featureProduct.title }}</h4>
            <h4 class="card-text float-left text-info">
              {{ featureProduct.price }} LKR
            </h4>
            <a href="#" class="btn btn-danger float-right">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
